@font-face
{
	font-family: "Helvetica Neue";
	src: url("fonts/HelveticaNeueLTStd-Lt.otf");
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #666666;
}

.txt-right {
	text-align: right;
}

.btns {
	background-color : #00aeef;
	border : 1px solid #13bfff;
	border-radius: 4px;
	font-family : Helvetica Neue;
	font-size : 14px;
	font-weight : 600;
	color: #FFFFFF;
	text-transform : Uppercase;
	margin-top: 20px;
    width: 100%;
    padding-top: 10px;
}

.top-bar-new {
	padding: 5px 20px;
	background-color: #0000a0;
}

.header-h3 {
	font-size : 24px;
	font-weight: 600;
	color: #FFFFFF;
	margin-top: 16px;
	margin-left: -40px;
}

.main-p-container {
	background-image: url('../images/login_bg.jpg');
	min-height: 650px;
}

.form-horizontal .form-group {
	margin: 0 0 15px;
}


.login-container {
	width: 400px;
    margin: 80px auto;
}

.login-head-p {
	font-size : 24px;
	font-weight: 600;
	text-transform : Uppercase;
	color: #fff;
	margin: 0;
}

.ln-brk {
	border-top : solid 2px #FFFFFF;
}

.top-bar-next {
	background-color: #F3F3F3;
	border-bottom: 1px solid #CCCCCC;
	padding: 0 20px;
}

.logged-user {
	font-weight: 600;
	color: #333333;
	margin: 15px 0 0;
}

.menu-links {
	padding: 20px 0;
    display: inline-block;
}

.logout {
	font-weight: 600;
	color: #00aeef;
}

.btns-right {
	width: 200px;
    float: right;
    margin-right: 30%;
}

.login-box label{
	color: #fff;
}

.left-menus{
    min-height: 500px;
    background: #F3F3F3;
    padding: 0;
}

.left-menus div{
	padding: 15px 25px;
	font-weight : 600;
	margin: 0;
}

.left-menus img{
	margin-right: 10px;
}

.left-menus div.active {
	background-color : #00aeef;
	color: #fff;
}

textarea {
	height: 100px;
}

.astri {
	width: 10px !important;
    color: #ff0000;
    padding-right: 5px;
}

.title-head {
	color: #0000a0;
	font-weight: 600;
	font-size: 24px;
}

table.table thead tr th {
	background-color : #999999;
	color: #fff;
}

table.table a {
	color: #00aeef;
	font-size: 12px;
	text-decoration: underline;
}

table.table {
	border: solid 1px rgba(153, 153, 153, 0.19);
}